$purpledark: #6c5ce7;
$purple: #7b88ff;
$yellowdark: #fdcb6e;
$yellow: #fff3b1;
$black: #000;
$white: #fff;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;
//FONTE
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
$transition: .35s ease-in-out;
$azul: #525252;
$azul-claro: #3361C2;
$verde: #72A065;
$white: #fff;
$red: #F14336;
@font-face {
    font-family: "Metropolis";
    src: url("../fonts/Metropolis-Regular.woff");
}